@{
    ViewBag.Title = "Home Page";
}

<script>
    var module = angular.module('ms.module', [], function () { });
    module.controller('HomeController', function ($scope, $http) {
        $scope.model = {};
        $scope.init = function () {
            // get model
            var url = '@Url.Action("Get")';
            $http.get(url).then(function (response) {
                $scope.model = response.data;
            });
        };
    });
</script>

<div ng-app="ms.module" ng-controller="HomeController" ng-init="init()">
    <table>
        <thead>
            <tr>
                <th>Legal Name</th>
                <th>Trading Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trader in model.Traders">
                <td>{{trader.LegalName}}</td>
                <td>{{trader.TradingName}}</td>
            </tr>
        </tbody>
    </table>
</div>